.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 1rem;
    width: 1rem;
    background-color: lightslategrey;
    font-size: 1rem;
    border-radius: .25rem;
    cursor: pointer;
    border: 2px solid transparent;
}

.button:hover {
    border: 2px solid white;
}

.double-button {
    width: 5.125rem;
}